* {
    margin: 0;
    padding: 0;
}

.nav-logo {
    margin-left: 100px;
}


#content-nav a {
    color: black;
}

/*#content-nav a:hover{*/
/*    background: green;*/
/*    color: white;*/
/*}*/

#navbar-right {
    margin-right: 70px;
}

#content-nav {
    margin-left: 60px;
}

#types a {
    color: green;
}

#mytypes a {
    color: green;
}

.mytoast{
    position: fixed; top: 20%; left: 40%; width: 250px; height: 150px; z-index: 9999;
}
@media(max-width: 576px) {

    .mytoast{
        position: fixed; top: 20%; left: 0%; width: 250px; height: 150px; z-index: 9999;
    }

}

@media(min-width: 576px) and (max-width: 767px){

    .mytoast{
        position: fixed; top: 20%; left: 20%; width: 250px; height: 150px; z-index: 9999;
    }

}


@media(min-width: 768px) and (max-width: 992px){
    .mytoast{
        position: fixed; top: 20%; left: 30%; width: 250px; height: 150px; z-index: 9999;
    }

}


@media (min-width: 992px) and (max-width: 1199px) {
    #modal-dialog {
        max-width: 800px;
        width: 800px;
    }

    #myFileBox {
        height: 400px;
    }

}

@media (min-width: 1200px) {
    #content-nav ul {
        width: 200px;
    }


}
