html,body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}
.container{
    height: 100%;
}
.bg-color {
    background-color: #12411d;
    float: right;
    height: 100%;
    width: 50%;
}

.bg-img {
    background-image: url(../img/bg-image.jpeg);
    float: left;
    background-size: cover;
    height: 100%;
    width: 50%;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* 定义元素2D转换 */
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    border-radius: 20px;
    opacity: 0.9;
}
.box input[type = "text"],.box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 15px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    /* 设置四个边框的样式 */
    outline: none;
    color: white;
    /* 设置圆角 */
    border-radius: 24px;
    transition: 0.25s;
}
.box h1{
    color: white;
    /* 文本以大写字母显示 */
    text-transform: uppercase;
    font-weight: bold;

}
.box input[type="text"]:focus,input[type="password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.box span{
    display: block;
    margin-top: -15px;
    margin-right: -150px;
}
.geetest_radar_tip span{
    margin-top: 12px;
}
.box a{
    color: white;
    font-size: 12px;
}

.box a:hover{
    font-size: 15px;
}

.box input[type="submit"]{
    border:0px;
    background: none;
    margin:10px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    outline: none;
    color: white;
    padding: 14px 40px;
    transition: 0.25s;
    border-radius: 24px;
    /* 改变光标 */
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: #2ecc71;
}