<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/commentstyle.css" th:href="@{/adminStyle/asset/css/commentstyle.css}">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/downloadlist.css" th:href="@{/adminStyle/asset/css/filelist.css}">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/font-awesome.min.css" th:href="@{/adminStyle/asset/css/font-awesome.min.css}">
    <script src="../../static/adminStyle/asset/js/jquery-3.4.1.min.js" th:src="@{/adminStyle/asset/js/jquery-3.4.1.min.js}"></script>
    <title>文件管理</title>
</head>
<body>
        <div class="nav" th:replace="commons/nav_fragments::navbar">
            <div class="box"><h3>treefrog后台管理系统</h3></div>
            <ul>
                <li><a href="uploadlist.html"><span class="fa fa-cloud-upload" aria-hidden="true">&nbsp;<b>上传记录</b></span></a></li>
                <li><a href="downloadlist.html"><span class="fa fa-cloud-download" aria-hidden="true">&nbsp;<b>下载记录</b></span></a></li>
                <li><a href="filelist.html" class="active"><span class="fa fa-file" aria-hidden="true">&nbsp;<b>文件管理</b></span></a></li>
                <li><a href="permissionlist.html" ><span class="fa fa-lock" aria-hidden="true">&nbsp;<b>权限管理</b></span></a></li>
                <li><a href="typelist.html"><span class="fa fa-filter" aria-hidden="true">&nbsp;<b>分类管理</b></span></a></li>
                <li><a href="userlist.html"><span class="fa fa-user" aria-hidden="true">&nbsp;<b>用户管理</b></span></a></li>
                <li><a href="system.html"><span class="fa fa-cogs" aria-hidden="true">&nbsp;<b>系统设置</b></span></a></li>
            </ul>
        </div>

         <!-- 文件管理 -->
         <table></table>
         <div class="file ">
            <div class="List">
                <table></table>
                <div class="btn addtable">
                    <div>
                        <a href="#" class="share"><span class="fa fa-share-square-o" aria-hidden="true">&nbsp;<b>共享</b></span></a>
                    </div>
                    <div>
                        <a href="#" class="up"><span class="fa fa-cloud-upload" aria-hidden="true">&nbsp;<b>上传</b></span></a>
                    </div>
                    <div>
                        <a href="#" class="modify"><span class="fa fa-wrench" aria-hidden="true">&nbsp;<b>修改</b></span></a>
                    </div>
                    <div>
                        <a href="#" class="permission"><span class="fa fa-eye-slash" aria-hidden="true">&nbsp;<b>权限</b></span></a>
                    </div>
                    <div>
                        <a href="#" class="delete"><span class="fa fa-trash-o" aria-hidden="true">&nbsp;<b>删除</b></span></a>
                    </div>
                   
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>文件编号</th>
                            <th>用户名</th>
                            <th>本地路径</th>
                            <th>分类</th>
                            <th>链接</th>
                            <th>下载次数</th>
                            <th>上传时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>22</td>
                            <td>shuwa</td>
                            <td>G://shuwa</td>
                            <td>视频</td>
                            <td>www.shuwa.com</td>
                            <td>208</td>
                            <td>2020-02-26</td>
                         </tr>
                        <tr>
                            <td>1</td>
                            <td>22</td>
                            <td>shuwa</td>
                            <td>G://shuwa</td>
                            <td>视频</td>
                            <td>www.shuwa.com</td>
                            <td>208</td>
                            <td>2020-02-26</td>
                         </tr>
                        <tr>
                            <td>1</td>
                            <td>22</td>
                            <td>shuwa</td>
                            <td>G://shuwa</td>
                            <td>视频</td>
                            <td>www.shuwa.com</td>
                            <td>208</td>
                            <td>2020-02-26</td>
                         </tr>
                         
                    </tbody>
                </table>
                <div class="pagediv">
                    <a href="" class="pageBtn">上一页</a>
                    <a href="" class="pageBtn">下一页</a>
                </div>
            </div>
        </div>
    </body>
    <script >
        $(function () {
            $('#s3').addClass('active')
        });
    </script>
</html>