<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/commentstyle.css"
          th:href="@{/adminStyle/asset/css/commentstyle.css}">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/downloadlist.css"
          th:href="@{/adminStyle/asset/css/permissionlist.css}">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/font-awesome.min.css"
          th:href="@{/adminStyle/asset/css/font-awesome.min.css}">
    <script src="../../static/adminStyle/asset/js/jquery-3.4.1.min.js"
            th:src="@{/adminStyle/asset/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/adminStyle/asset/js/permission.js}"></script>
    <title>权限管理</title>
</head>
<body>
<div class="nav" th:replace="commons/nav_fragments::navbar">
    <div class="box"><h3>treefrog后台管理系统</h3></div>
    <ul>
        <li><a href="uploadlist.html"><span class="fa fa-cloud-upload" aria-hidden="true">&nbsp;<b>上传记录</b></span></a>
        </li>
        <li><a href="downloadlist.html"><span class="fa fa-cloud-download"
                                              aria-hidden="true">&nbsp;<b>下载记录</b></span></a></li>
        <li><a href="filelist.html"><span class="fa fa-file" aria-hidden="true">&nbsp;<b>文件管理</b></span></a></li>
        <li><a href="permissionlist.html" class="active"><span class="fa fa-lock"
                                                               aria-hidden="true">&nbsp;<b>权限管理</b></span></a></li>
        <li><a href="typelist.html"><span class="fa fa-filter" aria-hidden="true">&nbsp;<b>分类管理</b></span></a></li>
        <li><a href="userlist.html"><span class="fa fa-user" aria-hidden="true">&nbsp;<b>用户管理</b></span></a></li>
        <li><a href="system.html"><span class="fa fa-cogs" aria-hidden="true">&nbsp;<b>系统设置</b></span></a></li>
    </ul>
</div>
<!--        权限修改模态框-->

<!-- 文件管理 -->
<table></table>
<div class="file addtable">
    <div class="List1">
        <input type="text" placeholder="文件名，模糊搜索">
    </div>
    <div class="List">
        <table></table>
        <div class="btn addtable">
            <div>
                <a href="#" class="up"><span class="fa fa-pencil-square-o" aria-hidden="true">&nbsp;<b>编辑</b></span></a>
            </div>
        </div>
        <table>
            <thead>
            <tr>
                <th></th>
                <th>编号</th>
                <th>文件名</th>
                <th>下载权限</th>
                <th>删除权限</th>
                <th>修改权限</th>
                <th>可见权限</th>
                <th>创建时间</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file:${files}">
                <td><input type="checkbox"></td>
                <td th:text="${file.id}"></td>
                <td th:text="${file.name}"></td>
                <td th:text="${file.isDownloadable}"></td>
                <td th:text="${file.isDeletable}"></td>
                <td th:text="${file.isUpdatable}"></td>
                <td th:text="${file.isVisible}"></td>
                <td th:text="${#dates.format(file.createTime,'yyyy-MM-dd')}"></td>
            </tr>
            </tbody>
        </table>
        <div class="pagediv">
            <a href="" id="lastPage" th:href="@{/admin/permissions/}+${filePage.pageNum-1}"
               th:if="not ${filePage.isFirstPage}" class="pageBtn">上一页</a>
            <ul class="pageIndex" th:each="i:${#numbers.sequence(1,filePage.pageTotal)}" th:if="${filePage}">
                <li><a th:href="@{/admin/permissions/}+${i}"><p th:text="${i}"></p></a></li>
            </ul>
            <a href="" th:href="@{/admin/permissions/}+${filePage.pageNum+1}" th:if="not ${filePage.isLastPage}"
               class="pageBtn">下一页</a>
        </div>
    </div>
</div>
</body>
<script>
    checkbox();
    msg();
    editPermission();
    search();
    $(function () {
        $('#s4').addClass('active')
    });
    var pageNum = [[${filePage.pageNum}]];
    //js语法中，引号内变量会直接解释为字符串，因此使用:eq()时参数将被识别为字符串而不是变量指代的内容
    $('.pageIndex li:eq(' + (pageNum - 1) + ')').children().addClass('select');
</script>
</html>