<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/commentstyle.css" th:href="@{/adminStyle/asset/css/commentstyle.css}">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/downloadlist.css" th:href="@{/adminStyle/asset/css/system.css}">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/font-awesome.min.css" th:href="@{/adminStyle/asset/css/font-awesome.min.css}">
    <script src="../../static/adminStyle/asset/js/jquery-3.4.1.min.js" th:src="@{/adminStyle/asset/js/jquery-3.4.1.min.js}"></script>
    <title>系统设置</title>
</head>
<body>
        <div class="nav" th:replace="commons/nav_fragments::navbar">
            <div class="box"><h3>treefrog后台管理系统</h3></div>
                <ul>
                    <li><a href="uploadlist.html"><span class="fa fa-cloud-upload" aria-hidden="true">&nbsp;<b>上传记录</b></span></a></li>
                    <li><a href="downloadlist.html" ><span class="fa fa-cloud-download" aria-hidden="true">&nbsp;<b>下载记录</b></span></a></li>
                    <li><a href="filelist.html"><span class="fa fa-file" aria-hidden="true">&nbsp;<b>文件管理</b></span></a></li>
                    <li><a href="permissionlist.html" ><span class="fa fa-lock" aria-hidden="true">&nbsp;<b>权限管理</b></span></a></li>
                    <li><a href="typelist.html"><span class="fa fa-filter" aria-hidden="true">&nbsp;<b>分类管理</b></span></a></li>
                    <li><a href="userlist.html" ><span class="fa fa-user" aria-hidden="true">&nbsp;<b>用户管理</b></span></a></li>
                    <li><a href="system.html"class="active"><span class="fa fa-cogs" aria-hidden="true">&nbsp;<b>系统设置</b></span></a></li>
                </ul>
        </div>
        <table></table>
        <div class="box1">
            <div>
                <button class="btn-save"><i class="fa fa-floppy-o" aria-hidden="true">&nbsp;保存</i></button>
            </div>
        
            <textarea name="" id="setFile" cols="200" rows="200">
                   fileSize : 100GB
                   fileMaxSie : 1000GB
                   uploadPath=G:\\treefrogFile
            </textarea>
        </div>
    </body>
<script>
    $(function () {
        $('#s7').addClass('active')
    });
</script>
</html>