<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/commentstyle.css" th:href="@{/adminStyle/asset/css/commentstyle.css}">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/downloadlist.css" th:href="@{/adminStyle/asset/css/uploadlist.css}">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/font-awesome.min.css" th:href="@{/adminStyle/asset/css/font-awesome.min.css}">
    <script src="../../static/adminStyle/asset/js/jquery-3.4.1.min.js" th:src="@{/adminStyle/asset/js/jquery-3.4.1.min.js}"></script>
    <title>上传记录</title>
</head>
<body>
        <div class="nav" th:replace="commons/nav_fragments::navbar">
            <div class="box"><h3>treefrog后台管理系统</h3></div>
            <ul>
                <li><a href="uploadlist.html" class="active"><span class="fa fa-cloud-upload" aria-hidden="true">&nbsp;<b>上传记录</b></span></a></li>
                <li><a href="downloadlist.html"><span class="fa fa-cloud-download" aria-hidden="true">&nbsp;<b>下载记录</b></span></a></li>
                <li><a href="filelist.html"><span class="fa fa-file" aria-hidden="true">&nbsp;<b>文件管理</b></span></a></li>
                <li><a href="permissionlist.html" ><span class="fa fa-lock" aria-hidden="true">&nbsp;<b>权限管理</b></span></a></li>
                <li><a href="typelist.html"><span class="fa fa-filter" aria-hidden="true">&nbsp;<b>分类管理</b></span></a></li>
                <li><a href="userlist.html"><span class="fa fa-user" aria-hidden="true">&nbsp;<b>用户管理</b></span></a></li>
                <li><a href="system.html"><span class="fa fa-cogs" aria-hidden="true">&nbsp;<b>系统设置</b></span></a></li>
            </ul>
        </div>

        <!-- 上传记录-->
        <table></table>
        <div class="upload">
            <div class="List">
                <table>
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>用户名</th>
                            <th>文件名称</th>
                            <th>文件路径</th>
                            <th>分类名</th>
                            <th>文件大小</th>
                            <th>上传时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>shuwa</td>
                            <td>Jquery尚硅谷教学</td>
                            <td>G://shuwa</td>
                            <td>视频</td>
                            <td>2GB</td>
                            <td>2020-02-26</td>
                         </tr>
                    </tbody>
                </table>
                <div class="pagediv">
                    <a href="" class="pageBtn">上一页</a>
                    <a href="" class="pageBtn">下一页</a>
                </div>
            </div>
        </div>
    </body>
<script>
    $(function () {
        $('#s1').addClass('active');
    });
</script>
</html>