<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/commentstyle.css"
          th:href="@{/adminStyle/asset/css/commentstyle.css}">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/userlist.css"
          th:href="@{/adminStyle/asset/css/userlist.css}">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/font-awesome.min.css"
          th:href="@{/adminStyle/asset/css/font-awesome.min.css}">
    <script src="../../static/adminStyle/asset/js/jquery-3.4.1.min.js"
            th:src="@{/adminStyle/asset/js/jquery-3.4.1.min.js}"></script>
    <title>用户管理</title>
</head>
<body>
<div class="nav" th:replace="commons/nav_fragments::navbar">
    <div class="box"><h3>treefrog后台管理系统</h3></div>
</div>

<!-- 用户管理 -->
<table></table>
<div class="user addtable">
    <div class="List1">
        <input type="text" id="textSearch" placeholder="用户名或者手机号">
    </div>
    <div class="List">
        <table></table>
        <div class="btn addtable">
            <div>
                <a href="#" class="up"><span class="fa fa-wrench" aria-hidden="true">&nbsp;<b>修改用权限</b></span></a>
            </div>
            <div>
                <a href="#" class="delete"><span class="fa fa-refresh" aria-hidden="true">&nbsp;<b>重置用户密码</b></span></a>
            </div>

        </div>
        <table>
            <thead>
            <tr>
                <th>编号</th>
                <th>用户名</th>
                <th>生日</th>
                <th>邮箱</th>
                <th>手机号码</th>
                <th>权限</th>
                <th>最近登录时间</th>
                <th>注册时间</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${users}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${user.getBirth()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getPhone()}"></td>
                <td th:text="${user.getPermission()}"></td>
                <td>2020-06-26</td>
                <td>2020-02-26</td>
            </tr>
            </tbody>
        </table>
        <div class="pagediv">
            <a id="last" th:href="@{/admin/users/}+${page.pageNum-1}" th:if="not ${page.isFirstPage}" class="pageBtn">上一页</a>
            <ul class="pageIndex" th:each="i:${#numbers.sequence(1,page.pageTotal)}" th:if="${page}">
                <li><a th:href="@{/admin/users/}+${i}" ><p th:text="${i}"></p></a></li>
            </ul>
            <a id="next" th:href="@{/admin/users/}+${page.pageNum+1}" th:if="not ${page.isLastPage}" class="pageBtn">下一页</a>
        </div>
    </div>
</div>
</body>
<script  type="text/javascript" th:inline="javascript">
    //入口函数
    $(function () {

        search();

        function search() {
            $('#textSearch').on('keyup', function () {
                var strValue = $(this).val();
                searchList(strValue);
            });
        }

        function searchList(strValue) {
            var count = 0;
            if (strValue != '') {
                $('tbody tr').each(function (i) {
                    var contentValue = $(this).children().eq(1).text();
                    console.log(this);
                    if (contentValue.toLowerCase().indexOf(strValue.toLowerCase()) < 0) {
                        $(this).hide();
                        count++;
                    } else {
                        $(this).show();
                    }
                    if (count == (i + 1)) {
                        $('tbody').hide();
                    } else {
                        $('tbody').show();
                    }
                });
            } else {
                $('tbody tr').each(function (i) {
                    $(this).show();
                    $('tbody').show();
                });
            }

        }

        /**
         * 实现导航栏点击提示
         */
        $('#s6').addClass('active');
       var a = [[${firstLoad}]];
        if(a){
            $('#s6')[0].click();
        }
        
        var pageNum = [[${page.pageNum}]];
        console.log(pageNum);
        //js语法中，引号内变量会直接解释为字符串，因此使用:eq()时参数将被识别为字符串而不是变量指代的内容
        $('.pageIndex li:eq('+(pageNum-1)+')').children().addClass('select');
        console.log( $('.pageIndex li:eq('+(pageNum-1)+')').children());

        //$('.pageIndex li').get(pageNum).siblings().children().removeClass('active');
    });
</script>
</html>