<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/commentstyle.css" th:href="@{/adminStyle/asset/css/commentstyle.css}">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/userlist.css" th:href="@{/adminStyle/asset/css/userlist.css}">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/font-awesome.min.css" th:href="@{/adminStyle/asset/css/font-awesome.min.css}">
    <script src="../../static/adminStyle/asset/js/jquery-3.4.1.min.js" th:src="@{/adminStyle/asset/js/jquery-3.4.1.min.js}"></script>
    <title>用户管理</title>
</head>
<body>
        <div class="nav" th:replace="commons/nav_fragments::navbar">
            <div class="box"><h3>treefrog后台管理系统</h3></div>
            <ul>
                <li><a href="uploadlist.html"><span class="fa fa-cloud-upload" aria-hidden="true">&nbsp;<b>上传记录</b></span></a></li>
                <li><a href="downloadlist.html"><span class="fa fa-cloud-download" aria-hidden="true">&nbsp;<b>下载记录</b></span></a></li>
                <li><a href="filelist.html"><span class="fa fa-file" aria-hidden="true">&nbsp;<b>文件管理</b></span></a></li>
                <li><a href="permissionlist.html" ><span class="fa fa-lock" aria-hidden="true">&nbsp;<b>权限管理</b></span></a></li>
                <li><a href="typelist.html"><span class="fa fa-filter" aria-hidden="true">&nbsp;<b>分类管理</b></span></a></li>
                <li><a href="userlist.html" class="active"><span class="fa fa-user" aria-hidden="true">&nbsp;<b>用户管理</b></span></a></li>
                <li><a href="system.html"><span class="fa fa-cogs" aria-hidden="true">&nbsp;<b>系统设置</b></span></a></li>
            </ul>
        </div>

         <!-- 用户管理 -->
         <table></table>
         <div class="user addtable">
            <div class="List1">
                <input type="text" id="textSearch" placeholder="用户名或者手机号">
            </div>
            <div class="List">
                <table></table>
                <div class="btn addtable">
                    <div>
                        <a href="#" class="up"><span class="fa fa-wrench"  aria-hidden="true">&nbsp;<b>修改用权限</b></span></a>
                    </div>
                    <div>
                        <a href="#" class="delete"><span class="fa fa-refresh" aria-hidden="true">&nbsp;<b>重置用户密码</b></span></a>
                    </div>
                   
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>用户名</th>
                            <th>生日</th>
                            <th>邮箱</th>
                            <th>手机号码</th>
                            <th>权限</th>
                            <th>最近登录时间</th>
                            <th>注册时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user:${users}">
                            <td th:text="${user.getId()}"></td>
                            <td th:text="${user.getUsername()}"></td>
                            <td th:text="${user.getBirth()}"></td>
                            <td th:text="${user.getEmail()}"></td>
                            <td th:text="${user.getPhone()}"></td>
                            <td th:text="${user.getPermission()}"></td>
                            <td>2020-06-26</td>
                            <td>2020-02-26</td>
                         </tr>
                        <tr>
                            <td>1</td>
                            <td>Jalyn</td>
                            <td>2020-02-26</td>
                            <td>1921776332@qq.com</td>
                            <td>18177860349</td>
                            <td>管理员</td>
                            <td>2020-06-26</td>
                            <td>2020-02-26</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>treefrog</td>
                            <td>2020-02-26</td>
                            <td>1921776332@qq.com</td>
                            <td>18177860349</td>
                            <td>管理员</td>
                            <td>2020-06-26</td>
                            <td>2020-02-26</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>shuwa</td>
                            <td>2020-02-26</td>
                            <td>1921776332@qq.com</td>
                            <td>18177860349</td>
                            <td>管理员</td>
                            <td>2020-06-26</td>
                            <td>2020-02-26</td>
                        </tr>
                    </tbody>
                </table>
                <div class="pagediv">
                    <a href="" th:ref="@{/listUser/}+${model.page.pageNum-1}" th:if="${model}" class="pageBtn">上一页</a>
                    <a href="" th:ref="@{/listUser/}+${model.page.pageNum+1}"  th:if="${model}" class="pageBtn">下一页</a>
                </div>
            </div>
        </div>
    </body>
<script>
    //入口函数
    $(function(){

        search();

        function search(){
            $('#textSearch').on('keyup',function(){
                var strValue = $(this).val();
                searchList(strValue);
            });
        }
        function searchList(strValue){
            var count = 0;
            if(strValue != ''){
                $('tbody tr').each(function(i){
                    var contentValue = $(this).children().eq(1).text();
                    console.log(this);
                    if(contentValue.toLowerCase().indexOf(strValue.toLowerCase()) < 0){
                        $(this).hide();
                        count++;
                    }else{
                        $(this).show();
                    }
                    if(count == (i + 1)){
                        $('tbody').hide();
                    }else{
                        $('tbody').show();
                    }
                });
            }else{
                $('tbody tr').each(function(i){
                    $(this).show();
                    $('tbody').show();
                });
            }

        }
        $('#s6').addClass('active')
    });
</script>
</html>