<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/commentstyle.css"
          th:href="@{/adminStyle/asset/css/commentstyle.css}">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/userlist.css"
          th:href="@{/adminStyle/asset/css/userlist.css}">
    <link rel="stylesheet" href="../../static/adminStyle/asset/css/font-awesome.min.css"
          th:href="@{/adminStyle/asset/css/font-awesome.min.css}">
    <script src="../../static/adminStyle/asset/js/jquery-3.4.1.min.js"
            th:src="@{/adminStyle/asset/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/adminStyle/asset/js/userlist.js}"></script>
    <title>用户管理</title>
</head>
<body>

<div class="nav" th:replace="commons/nav_fragments::navbar">
    <div class="box"><h3>treefrog后台管理系统</h3></div>
</div>

<div id="dispose-box">
    <!--用户权限模态框-->
    <div class="permissionBox">
        <div class="userBuddle">
            <div id="buddle1">
                <div class="message">
                    <p>用户名</p>
                </div>
                <div class="arrows"></div>
            </div>
        </div>
        <div class="permissionBuddle">
            <div id="buddle2">
                <div class="message">
                    <p>新密码</p>
                </div>
                <div class="arrows"></div>
            </div>
        </div>
        <div class="titlebox"><h4>重置用户权限</h4>
            <button>×</button>
        </div>
        <div class="inputbox">
            <div class="usern">
                <input type="text" value="Jalyn">
            </div>
            <div class="userp">
                <input type="password" id="newPassword">
            </div>
        </div>
        <div class="btnbox">
            <button id="update">更新</button>
            <button id="close">×关闭</button>
            <button id="next1">下一个</button>
            <button id="last1">上一个</button>
        </div>
    </div>
</div>
<!-- 用户管理 -->
<table></table>
<div class="user addtable">
    <div class="List1">
        <input type="text" id="textSearch" placeholder="用户名">
    </div>
    <div class="List">
        <table></table>
        <div class="btn ">
            <div>
                <a href="#" class="delete"><span class="fa fa-refresh" aria-hidden="true">&nbsp;<b>重置用户密码</b></span></a>
            </div>

        </div>
        <table>
            <thead>
            <tr>
                <th></th>
                <th>编号</th>
                <th>用户名</th>
                <th>生日</th>
                <th>邮箱</th>
                <th>手机号码</th>
                <th>权限</th>
                <th>最近登录时间</th>
                <th>注册时间</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${users}">
                <td><input type="checkbox"></td>
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${user.getBirth()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getPhone()}"></td>
                <td th:text="${user.getPermission()}"></td>
                <td>2020-06-26</td>
                <td>2020-02-26</td>
            </tr>
            </tbody>
        </table>
        <div class="pagediv">
            <a id="last" th:href="@{/admin/users/}+${page.pageNum-1}" th:if="not ${page.isFirstPage}" class="pageBtn">上一页</a>
            <ul class="pageIndex" th:each="i:${#numbers.sequence(1,page.pageTotal)}" th:if="${page}">
                <li><a th:href="@{/admin/users/}+${i}"><p th:text="${i}"></p></a></li>
            </ul>
            <a id="next" th:href="@{/admin/users/}+${page.pageNum+1}" th:if="not ${page.isLastPage}"
               class="pageBtn">下一页</a>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    //入口函数
    $(function () {
        //提示框
        msg();
        //启动模糊查询
        search();
        //启动复选框事件
        checkbox();
        //提示框
        buddle();
        //按钮关闭功能
        btnClose();
        //修改权限
        resetPassword();
        /**
         * 实现导航栏点击提示
         */
        $('#s6').addClass('active');
        var a = [[${firstLoad}]];
        if (a) {
            $('#s6')[0].click();
        }
        //分页下标处于选择选择状态
        var pageNum = [[${page.pageNum}]];
        //js语法中，引号内变量会直接解释为字符串，因此使用:eq()时参数将被识别为字符串而不是变量指代的内容
        $('.pageIndex li:eq(' + (pageNum - 1) + ')').children().addClass('select');
        /**
         * 修改权限按钮点击事件
         */
    });


</script>
</html>