<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>文件上传</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.css}">
    <link rel="stylesheet" href="../../static/assets/css/user.css" th:href="@{../asserts/css/user.css}">
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-success" th:replace="commons/_fragments :: navbar">
        <div class="row col-sm-6 offset-2 ">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <img class="" src="../../static/assets/img/logo.png" width="40" height="40">
                <h2> TreeFrog</h2>
                <ul id="navtag" class="navbar-nav mr-auto">
                    <li class="nav-item active ">
                        <a class="nav-link">首页</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ">探索</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ">发现</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row col-sm-4 float-right">
            <ul id="navtag01" class="navbar-nav  navbar-right">
                <li class="nav-item active ">
                    <a class="nav-link" href="#"><img src="../../static/assets/img/upload.png" alt="" width="28"
                                                      height="28"></a>
                </li>
                <li class="nav-item active ">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control border-success" type="search" placeholder="文件名或作者"
                               aria-label="Search">
                        <button class="btn " type="submit"><span class="Search"></span>
                            <img src="../../static/assets/img/Search.png" alt="" width="28" height="28">
                        </button>
                    </form>
                </li>
                <li class="nav-item active ">
                    <div class="dropdown">
                        <img class="rounded-circle border" src="../../static/assets/img/via.jpg" data-toggle="dropdown"
                             width="40" height="40">
                        <ul class="dropdown-menu" role="menu" aria-labelledby="usermenu">
                            <div class="container row">
                                <div>
                                    <img class="rounded-circle border" src="../../static/assets/img/via.jpg"
                                         data-toggle="dropdown" width="40" height="40">
                                </div>
                                <div>
                                    <span>用户名</span>
                                </div>
                            </div>
                            <div calss="divider"></div>
                            <li><a role="menuitem" href="#">查看个人资料</a></li>
                            <li><a role="menuitem" href="#">帮助</a></li>
                            <li><a role="menuitem" href="#">注销</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<h1 align="center" th:marginheight="200">上传文件</h1>
<div class="div02">
    <div class="pc-kk-form">
        <form th:action="@{/upload}" method="post" enctype="multipart/form-data">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" name="file" class="custom-file-input" id="inputGroupFile01"
                           aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>


            <div class="pc-kk-form-list pc-kk-form-list-clear">
                <div class="n-select">
                    <input type="text" class="form-control" th:placeholder="tag" name="tag">
                </div>
                <div class="nice-select" name="nice-select" style="float:right">
                    <input type="text" th:placeholder="类型" readonly name="categoryName">
                    <ul>
                        <li data-value="male">视频</li>
                        <li data-value="female">音频</li>
                        <li data-value="female">文档</li>
                        <li data-value="female">图片</li>
                    </ul>
                </div>
            </div>
            <div class="pc-kk-form-list" style="height:auto">
                <textarea th:placeholder="文件说明" name="description"></textarea>
            </div>
            <!--			隐藏提交用户ID-->
            <input type="hidden" th:value="${session.userId}" name="userId">
            <button type="submit" class="btn btn-primary btn-lg btn-block">上传</button>

        </form>
    </div>


    <script type="text/javascript" src="../../static/assets/js/jquery.js" th:src="@{../asserts/js/jquery.js}"></script>
    <script src="../../static/assets/js/jquery-3.4.1.min.js"
            th:src="@{../../static/assets/js/jquery-3.4.1.min.js}"></script>
    <script src="../../static/assets/js/bootstrap.bundle.min.js"
            th:src="@{../../static/assets/js/bootstrap.bundle.min.js}"></script>

    <script>

        $('[name="nice-select"]').click(function (e) {

            $('[name="nice-select"]').find('ul').hide();

            $(this).find('ul').show();

            e.stopPropagation();

        });

        $('[name="nice-select"] li').hover(function (e) {

            $(this).toggleClass('on');

            e.stopPropagation();

        });

        $('[name="nice-select"] li').click(function (e) {

            var val = $(this).text();

            $(this).parents('[name="nice-select"]').find('input').val(val);

            $('[name="nice-select"] ul').hide();

            e.stopPropagation();

        });

        $(document).click(function () {

            $('[name="nice-select"] ul').hide();

        });
    </script>

</div>
</body>
</html>