img {
    border: 0;
}

body {
    background: #f7f7f7;
}

html, body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, button, fieldset, form, input, legend, textarea, th, td {
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
    margin: 0;
    padding: 0;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

a {
    text-decoration: none;
    color: #08acee;
}

a:active, a:hover {
    outline: 0;
}

button {
    outline: 0;
}

mark {
    color: #000;
    background: #ff0;
}

small {
    font-size: 80%;
}

img {
    border: 0;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    outline: none;
}

li {
    list-style: none;
}

i {
    font-style: normal;
}

a {

}

a:hover {
    color: #eee;
}

em {
    font-style: normal;
}

h2, h3 {
    font-family: "microsoft yahei";
    font-weight: 100;
}


/* ------------------- */
::-moz-placeholder {

}

::-webkit-input-placeholder {

}

:-ms-input-placeholder {

}


.pc-kk-form {
    padding: 15px 20px;
}

.pc-kk-form-list {
    background: #fff;
    border: 1px solid;
    border-radius: 5px;
    height: 44px;
    line-height: 44px;
    margin-bottom: 10px;
}

.pc-kk-form-list input {
    width: 100%;
    border: none;
    background: none;
    font-size: 14px;
    height: 36px;
    padding: 4px 10px;
}

.pc-kk-form-list textarea {
    background: none;
    border: none;
    height: 60px;
    padding: 10px;
    resize: none;
    width: 94%;
    line-height: 22px;
    font-size: 14px;
}

.nice-select {
    position: relative;
    background: #fff url(../img/a2.jpg) no-repeat right center;
    background-size: 18px;
    width: 47%;
    float: left;
    border: 1px solid;
    border-radius: 5px;
    height: 44px;
    line-height: 44px;
}

.n-select {
    position: relative;
    background-size: 18px;
    width: 47%;
    float: left;
    border: 1px solid;
    border-radius: 5px;
    height: 44px;
    line-height: 44px;
}

.nice-select ul {
    width: 100%;
    display: none;
    position: absolute;
    left: -1px;
    top: 44px;
    overflow: hidden;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid;
    z-index: 9999;
    border-radius: 5px;

}

.nice-select ul li {
    padding-left: 10px;
}

.nice-select ul li:hover {
    background: #f8f4f4;
}

.pc-kk-form-list-clear {
    background: none;
    border: none;
}

.pc-kk-form-btn button {
    background: #ec5224;
    color: #fff;
    border: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    border-radius: 50px;
}

.div01 {
    width: 60%;
    height: auto;
    margin: 0 auto;
    color: #6c757d;
}

.div02 {
    width: 60%;
    height: auto;
    margin: 0 auto;
    color: #6c757d;
    top: 200px;
}