.user{
    margin-top: 50px;
}
/* 调节宽度 */
.List{
    width: 900px;
}
.List1{
    width: 900px;
    background-color: white;
    margin: 30px 300px;
    padding: 20px 0px;
}

.List1 input{
    display: inline-block;
    width: 300px;
    height: 35px;
    margin-right: 40px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;   
    outline:none;
}

.List1 input:focus{
    border: 2px solid #007bff;
}

.btn{
   left: 50%;
}
 .btn div{
    height: 40px;
    width: 200px;
}

 .btn a{
   width: 200px;
   height: 30px;
}

.pageIndex{
    display: inline-block;
    list-style: none;
    height: 40px;
    background-color: white;

}
.pageIndex li{
    display: inline-block;
    margin: 0px 2px;
}

.pageIndex li a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    color: black;

}
.pageIndex li a p{
    margin-top: 4px;
    font-size: 10px;
    font-weight: bold;
}
.pageIndex li p:hover{
    color: green;
}
.select{
    background-color: green;
}