.user{
    margin-top: 50px;
}
/* 调节宽度 */
.List{
    width: 920px;
}
.List1{
    width: 920px;
    background-color: white;
    margin: 30px 300px;
    padding: 20px 0px;
}

.List1 input{
    display: inline-block;
    width: 300px;
    height: 35px;
    margin-right: 40px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;   
    outline:none;
}

table{
    border-collapse:collapse;
    margin-left: 20px;
}

.List1 input:focus{
    border: 2px solid #007bff;
}

.btn{
   left: 50%;
}
 .btn div{
    height: 40px;
    width: 200px;
}

 .btn a{
   width: 200px;
   height: 30px;
}

.pageIndex{
    display: inline-block;
    list-style: none;
    height: 40px;
    background-color: white;

}
.pageIndex li{
    display: inline-block;
    margin: 0px 2px;
}

.pageIndex li a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    color: black;

}
.pageIndex li a p{
    margin-top: 4px;
    font-size: 10px;
    font-weight: bold;
}
.pageIndex li p:hover{
    color: green;
}
.select{
     background-color: green;
}

.checked{
    background-color: #b1ffc3;
}

.btn {
    left: 76%;
}


#dispose-box{
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.4);
    left: 0;
    top: 0;
    z-index: 999;
    display: none;
}

/*重置用户名密码模态框*/

.permissionBox{
    width: 500px;
    height: 274px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    left: 25%;
    top: 25%;
}

.titlebox{
    width: 500px;
    height: 69px;
    border-bottom: 1px solid #ccc;
}

.titlebox h4{
    font-size: 25px;
    font-weight: initial;
    line-height: 69px;
    margin-left: 20px;
    display:inline;
}

.titlebox button{
    float: right;
    width: 50px;
    height: 56px;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: white;
    color: rgb(99, 99, 99);
}

.titlebox button:hover{
    color: black;
}

.titlebox button:active{
    color: rgb(130, 127, 127);
}

.inputbox{
    height: 100px;
    padding: 16px;
}

.inputbox .usern{
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inputbox .usern input{
    display: block;
    height: 38px;
    width: 100%;
    border: none;
    line-height: 25px;
    border-radius: 5px;
}

.inputbox .userp{
    margin-top: 20px;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
}
.inputbox .userp input{
    display: block;
    height: 38px;
    width: 100%;
    border: none;
    line-height: 25px;
    border-radius: 5px;
}
.inputbox .selectbox{
    margin-top: 20px;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
}

.inputbox .selectbox select{
    display: block;
    height: 38px;
    width: 100%;
    border: none;
    line-height: 25px;
    border-radius: 5px;
}

.btnbox{
    height: 71px;
    padding-right: 16px;
    border-top: 1px solid #ccc;
}

.btnbox button{
    width: 78px;
    height: 38px;
    margin-top: 20px;
    float: right;
    margin-right: 5px;
    border-radius: 3px;
    border: 1px solid rgb(159, 159, 159);
    background-color: white;
}

.btnbox #last1{
    color:rgb(159, 159, 159);
}

.btnbox #next1{
    color:rgb(0, 123, 255);
    border: 1px solid rgb(0, 123, 255);
}

.btnbox #close{
    background-color: rgb(23, 162, 184);
    color: white;
    border: none;
}

.btnbox #close:hover{
    background-color: rgb(29, 131, 147);
    color: white;
}

.btnbox #update{
    background-color: rgb(155, 88, 181);
    color: white;
    border: none;
}

.btnbox #update:hover{
    background-color: rgb(124, 75, 144);
    color: white;
}

.btnbox #last1:hover{
    background-color:rgb(159, 159, 159);
    color: white;
}

.btnbox #next1:hover{
    background-color:rgb(0, 123, 255);
    color: white;
}

.userBuddle{
    position: absolute;
    left: 50%;
    top: 17%;
    display: none;
}

.permissionBuddle{
    position: absolute;
    left: 40%;
    top: 38%;
    display: none;
}


/* 绝对定位是的参照物是以最接近它的开了定位的父元素 */
#buddle{
    display: block;
}

.message{
    width: 80px;
    height: 30px;
    border:  2px solid green;
    border-radius: 10px;
    background-color: green;

}
.message p{
    color: white;
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
}

.message::before{
    content: "";
    width: 0px;
    height: 0px;
    border: 10px solid;
    position: absolute;
    top: 30px;
    left: 50px;
    border-color: green  transparent transparent transparent;
}
