<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>treefrog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/assets/css/font-awesome.min.css"
          th:href="@{/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../../static/assets/css/commens.css" th:href="@{/assets/css/commens.css}">
    <script th:src="@{/assets/js/index.js}"></script>
    <style>
        .nav-pills .nav-link.active,.nav-pills .show>.nav-link{
            color:#fff;
            background-color: #59ca14;
        }
    </style>
</head>
<body>
<!--    引入导航-->
<div th:replace="commons/_fragments :: navbar"></div>
<!--     中间内容-->
<div class="container-fluid row ">
    <!--            左侧导航-->
    <div class="col-lg-2 col-md-3 text-center" id="content-nav">
        <ul class="nav justify-content-center nav-pills ">
            <li class="nav-item"><a class="nav-link" href="#systemFile" id="fileList" style="font-size: 20px"
                                    data-toggle="tab"><i id="1" class="fa fa-folder-open-o" aria-hidden="true"></i>资源列表</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#myFile" id="myfiles" style="font-size: 20px"
                                    data-toggle="tab"><i id="2" class="fa fa-user-circle-o" aria-hidden="true"></i>我的文件</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#collect" id="collectFile" style="font-size: 20px"
                                    data-toggle="tab"><i id="3" class="fa fa-star-o" aria-hidden="true"></i>收藏</a></li>
        </ul>
    </div>
    <!--            主内容区域-->
    <div class="col-lg-8 mt-3" style="height: 600px">
        <!--                滑动门针对于左侧的导航-->
        <div class="tab-content">
            <!--                    系统文件-->
            <div class="tab-pane" id="systemFile">
                <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="types">
                            <label class="mr-2"><b>分类</b></label>

                        </ul>
                    </div>
                    <!--                    滑动门-->
                    <div class="tab-content" id="tabList">
                        <div class="tab-pane fade" id="fileTabPanel" style="height: 540px;">
                            <!--                           no-gutters出去默认的内边距 -->
                            <div class="container-fluid row show no-gutters" id="systemFileList">

                            </div>
                            <!--                                分页列表-->
                            <ul class="pagination justify-content-center" id="systemFilePageList">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--                    我的文件-->
            <div class="tab-pane" id="myFile">
                <!--                           no-gutters出去默认的内边距 -->
                <div id="myFileBox">
                    <div class="container-fluid row show no-gutters" id="myFileList">
                    </div>
                </div>
                <ul class="pagination justify-content-center" id="myfilePageList">
                </ul>
            </div>
            <!--            收藏-->
            <div class="tab-pane" id="collect">
                <!--                           no-gutters出去默认的内边距 -->
                <div id="collectFileBox">
                    <div class="container-fluid row show no-gutters" id="collectFileList">
                    </div>
                </div>
                <ul class="pagination justify-content-center" id="collectPageList">
                </ul>
            </div>
        </div>
    </div>

</div>

<!--文件上传模态框-->
<div class="modal fade" tabindex="-1" id="uploadModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">文件上传</h5>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="#" method="post" class="needs-validation" enctype="multipart/form-data" id="file-form">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file" id="file">
                            <label class="custom-file-label text-muted" id="show-fileName">选择文件.....</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fileType">类型</label>
                        <select name="type" id="fileType" class="form-control">
                            <option value="0">-请选择-</option>
                            <option value="1">视频</option>
                            <option value="2">音频</option>
                            <option value="3">图片</option>
                            <option value="4">文档</option>
                        </select>
                        <div class="invalid-feedback">请选择文件类型!</div>
                    </div>
                    <div class="form-group">
                        <label for="description">描述</label>
                        <textarea class="form-control" name="description" id="fileDescription"></textarea>
                        <div class="invalid-feedback">请对文件进行简单的描述!</div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">权限</label>
                        <div class="form-check">
                            <div class="d-inline-block">
                                <input type="checkbox" name="isVisit" id="isVisit" class="form-check-input">
                                <label for="isVisit" class="form-check-label">可见</label>
                            </div>
                            <div class="d-inline-block ml-4">
                                <input type="checkbox" name="isDownload" id="isDownload" class="form-check-input">
                                <label for="isDownload" class="form-check-label">下载</label>
                            </div>
                            <div class="d-inline-block ml-4">
                                <input type="checkbox" name="isUpdata" id="isUpdate" class="form-check-input">
                                <label for="isUpdate" class="form-check-label">修改</label>
                            </div>
                            <div class="d-inline-block ml-4">
                                <input type="checkbox" name="isDelete" id="isDelete" class="form-check-input">
                                <label for="isDelete" class="form-check-label">删除</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">进度</label>
                        <div class="progress">
                            <div class="progress-bar" id="progressBar" role="progressbar" style="width: 0%;"
                                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn  btn-secondary" data-dismiss="modal">取消</button>
                <button class="btn  btn-success" id="upload-btn">上传</button>
            </div>
        </div>
    </div>
</div>

<!--个人中心模态框-->
<div class="modal fade" tabindex="-1" id="userInfo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title text-center text-white">个人中心</h5>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="#" method="post">
                    <div class="form-group text-center">
                        <img class="rounded-circle border" src="../../static/assets/img/via.jpg"
                             th:src="@{/assets/img/via.jpg}" name="userVia" width="50" height="50" id="userVia"
                             data-target="#via" data-toggle="modal">
                        <strong class="ml-2 text-muted" id="username">用户名</strong>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-success text-white">姓名</span>
                        </div>
                        <input type="text" name="realName" id="realName" placeholder="您的姓名" class="form-control">
                    </div>

                    <div class="form-group mt-3">
                        <div class="form-check d-inline-block">
                            <input type="radio" class="form-check-input" id="man" name="sex">
                            <label for="man" class="form-check-label">男</label>
                        </div>
                        <div class="form-check d-inline-block">
                            <input type="radio" class="form-check-input" id="woman" name="sex">
                            <label for="woman" class="form-check-label">女</label>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-success text-white">生日</span>
                        </div>
                        <input type="date" name="birth" id="birth" placeholder="您的生日" class="form-control">
                    </div>

                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-success text-white">邮箱</span>
                        </div>
                        <input type="email" name="email" id="email" placeholder="您的邮箱" class="form-control">
                    </div>

                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-success text-white">手机号码</span>
                        </div>
                        <input type="text" name="phone" id="phone" placeholder="您的联系方式" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>个人说明：</label>
                        <textarea placeholder="个人说明" class="form-control" name="description" id="description"
                                  style="border: 1px solid ;" th:text="${session.user.description}"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn  btn-secondary" data-dismiss="modal">取消</button>
                <button class="btn  btn-success" id="saveInfo">保存</button>
            </div>
        </div>
    </div>
</div>

<div class="modal mt-5 fade" tabindex="-1" id="via">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body mb-2" style="width: 400px; height: 365px;">
                <img src="" width="400px" height="350px" id="viaBox">
            </div>
            <div class="modal-footer">

                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="userViaUrl">
                        <label class="custom-file-label" for="userViaUrl" aria-describedby="userViaUrl" id="via-label">Choose
                            file</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn bg-primary" id="viaBtn">上传头像</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!--修改密码模态框-->
<div class="modal fade" tabindex="-1" id="updatePassword">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title text-center text-white">修改密码</h5>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="#" method="post" class="needs-validation" id="form-update">

                    <div class="form-group">
                        <label for="passwordAgo">原密码</label>
                        <input type="password" class="form-control" name="passwordAgo" id="passwordAgo">
                        <div class="invalid-feedback" id="pswAgo">请输入原先的密码!</div>
                    </div>

                    <div class="form-group">
                        <label for="password">新密码</label>
                        <input type="password" class="form-control" name="password" id="password">
                        <div class="invalid-feedback">请输入新密码!</div>
                    </div>

                    <div class="form-group">
                        <label for="password2">确认密码</label>
                        <input type="password" class="form-control" name="password2" id="password2">
                        <div class="invalid-feedback" id="confirmation">两次密码不一致!</div>
                    </div>
                    <input type="hidden" th:value="${session.user.id}" id="userId">

                    <!--                    <div class="form-group">-->
                    <!--                        <label for="phone">手机号码</label>-->
                    <!--                        <div class="input-group">-->
                    <!--                            <input type="text" class="form-control" name="phone" id="phone">-->
                    <!--                            <div class="input-group-append">-->
                    <!--                                <button class="btn btn-secondary" type="button">发送验证码</button>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group w-50">-->
                    <!--                        <label for="verifyCode">验证码</label>-->
                    <!--                        <input type="text" class="form-control" name="verifyCode" id="verifyCode">-->
                    <!--                    </div>-->
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn  btn-secondary" data-dismiss="modal">取消</button>
                <button class="btn  btn-success" id="sure">确定</button>
            </div>
        </div>
    </div>
</div>

<!--文件详细-->
<div class="modal fade" tabindex="-1" id="fileInfo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" name="fileName">文件名称</h5>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item">作者：&nbsp;<strong class="text-muted" name="username"></strong></li>
                    <li class="list-group-item">上传时间：&nbsp;<strong class="text-muted" name="uploadTime"></strong></li>
                    <li class="list-group-item">文件大小：&nbsp;<strong class="text-muted" name="fileSize"></strong></li>
                    <li class="list-group-item">文件类型：&nbsp;<strong class="text-muted" name="fileType"></strong></li>
                    <li class="list-group-item">文件描述：&nbsp;<strong class="text-muted" name="description"></strong></li>
                    <li class="list-group-item">浏览量：&nbsp;<strong class="text-muted" name="pageView"></strong></li>
                    <li class="list-group-item">下载次数：&nbsp;<strong class="text-muted" name="downloadCount"></strong>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <a href="#" type="button" class="btn btn-danger" id="fileDownload">下载</a>
            </div>
        </div>
    </div>
</div>

<!--查询结果-->
<div class="modal fade" tabindex="-1" id="jqueryResult">
    <div class="modal-dialog" id="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title">查询结果</h5>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table" style=" height: 350px">
                    <thead>
                    <tr>
                        <th></th>
                        <th>文件名</th>
                        <th>作者</th>
                        <th>查看</th>
                        <th>下载</th>
                    </tr>
                    </thead>
                    <tbody id="resultSet">
                    </tbody>
                </table>
                <ul class="pagination justify-content-center" id="jqueryPageList">
                </ul>
            </div>
        </div>
    </div>
</div>
<!--修改文件权限-->
<div class="modal fade" tabindex="-1" id="updateFile">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title text-center text-white">权限更新</h5>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-3">
                            <label for="downloadFile" style="color:green; font-weight: bold">下载</label>
                            <select name="type" id="downloadFile" class="form-control">
                                <option value="1">允许</option>
                                <option value="0">拒绝</option>
                            </select>
                        </div>

                        <div class="col-3">
                            <label for="fileDelete" style="color: red; font-weight: bold">删除</label>
                            <select name="type" id="fileDelete" class="form-control">
                                <option value="1">允许</option>
                                <option value="0">拒绝</option>
                            </select>
                        </div>

                        <div class="col-3">
                            <label for="fileUpdate" style="color: #00b0ff; font-weight: bold">修改</label>
                            <select name="type" id="fileUpdate" class="form-control">
                                <option value="1">允许</option>
                                <option value="0">拒绝</option>
                            </select>
                        </div>

                        <div class="col-3">
                            <label for="fileVisit" style="color: #7e57c2; font-weight: bold">可见</label>
                            <select name="type" id="fileVisit" class="form-control">
                                <option value="1">允许</option>
                                <option value="0">拒绝</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn  btn-secondary" data-dismiss="modal">取消</button>
                <button class="btn  btn-success" id="updatePermission">更新</button>
            </div>
        </div>
    </div>
</div>

<!--提示框 -->
<div th:replace="commons/_fragments :: toast"></div>

<!--页尾-->
<div th:replace="commons/_fragments :: footer"></div>

</body>
</html>
<script src="../../static/assets/js/jquery-3.4.1.min.js" th:src="@{/assets/js/jquery-3.4.1.min.js}"></script>
<script src="../../static/assets/js/bootstrap.bundle.min.js" th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script>
    $(".navbar-nav li").click(function (e) {
        e.preventDefault();
        $(this).addClass('active').siblings().removeClass('active');
    });

    //用户下拉菜单
    $('.dropdown-item').each(function () {
        $(this).mouseenter(function () {
            $(this).css({"background": "green", "color": "white"});
        });
        $(this).mouseleave(function () {
            $(this).css({"background": "", "color": ""});
        });
    });
    //  处理文件上传
    $('.custom-file-input').bind('input propertychange', function () {
        $('.custom-file > label').text($(this).val());
    });
    //处理文件查看详细
    $('#systemFile .btn-primary, #myFile .btn-primary').each(function () {
        $(this).attr({
            "data-toggle": "modal",
            "data-target": "#fileInfo"
        });
    });


    $(function () {
        //重置密码
        resetPassword();
        //修改个人信息
        resetUserInfo();
        //文件上传
        uploadFile();
        //文件查找
        fileSearch();
        //获取我的文件
        getMyFile();
        //获取分类列表
        //获取用户共享的文件
        getUserShareFile();
        //我的收藏
        getMyCollect();
        //上传头像
        uploadVia();
        //显示头像
        showVia();

    });
</script>