<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/styles.css" th:href="@{assets/css/login.css}">
    <title>欢迎登录</title>
</head>
<body>  
    <form class="box" th:action="@{/user_login}" method="post">
        <h1>Login</h1>
        <p style="color: red"  th:text="${msg}" th:if="${ not #strings.isEmpty(msg)}"></p>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
            <span><a href="#">忘记密码?</a></span>
        <input type="submit" name="" value="Login">
    </form>
</body>
</html>