<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
</head>
<body>
<div>
    <form th:action="@{/userResetPassword}" method="post">
        <div>
            <p style="color: red" th:text="${passwordError}" th:if="${ not #strings.isEmpty(passwordError)}"></p>
            <div>
                密码：<input type="password" name="password"/>
            </div>
            <div>
                确认密码：<input type="password" name="rePassword"/>
            </div>
        </div>
        <button type="submit">确认重置</button>
    </form>
</div>
</body>
</html>