<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Input HTML Form Pack by Tooplate</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}">
    <link rel="stylesheet" th:href="@{/css/tooplate.css}">
</head>

<body id="home">
<div class="container tm-home-mt tm-home-container">
    <div class="row">
        <div class="col-12">
            <div class="tm-home-left">
                <h1 class="tm-site-title">TREEFROG</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="tm-home-left mt-3 font-weight-light">
                <p class="tm-mb-35">This is a website for sharing learning resources for the Internet</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <ul class="list-group tm-home-list tm-bg-black font-weight-light">
                <li class="d-flex justify-content-between align-items-center">
                    <a href="register" class="tm-white-text">01. Sign Up</a>
                </li>
                <li class="d-flex justify-content-between align-items-center">
                    <a href="signin" class="tm-white-text">02. Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer class="row tm-mt-big mb-3">

    </div>
</footer>
<div class="face">
    <div class="eyes">
        <div class="eye"></div>
        <div class="eye"></div>
    </div>
</div>
</body>
</html>
<script>
    window.onload = function () {
        document.querySelector('html').addEventListener('mousemove', eyeball);

        function eyeball() {
            var eyes = document.querySelectorAll('.eye');
            eyes.forEach(function (eye) {
                let x = eye.getBoundingClientRect().left + (eye.clientWidth / 2);
                let y = eye.getBoundingClientRect().top + (eye.clientHeight / 2);
                let radian = Math.atan2(event.pageX - x, event.pageY - y);
                let rot = (radian * (180 / Math.PI) * -1) - 90;
                eye.style.transform = "rotate(" + rot + "deg)";
            });
        }

    }
</script>